body, html {
  padding: 0;
  margin: 0;
}
:root {
  --background: #f8f6ec;
  --split-line-1: #000;
  --split-line-2: #333;
  --split-line-3: #c2c2c2;
  --active-item-color: #69c5ff;
  --active-line-color: #e0e9ec;
  --number-bar-bg-color: #fff;
  --number-bar-main-color: #3f7dcc;
  --number-bar-count-color: #5e5e5e;
}

* {
  user-select: none;
}